body{
    background: rgb(243,243,244);
    background: linear-gradient(0deg, rgba(243,243,244,1) 0%, rgba(0,164,255,1) 100%);
    height: 1400px; ;}
    
    /* Header */
header{
    background-color: lightblue;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .header-logo img{
    width: 50px;
    display: flex;
    align-items: start;
}



.header-nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;


}

.header-nav li{
    padding: 0px 20px; 
}

    /* Button */
button{
    border-radius: 1px;
    background-color: lightblue;
    padding: 20px 60px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s linear;
    margin: -20px;
    border-color: rgba(76, 132, 216, 0.815);
}

button:hover{
    transform: translateY(-1px);
    background-color: cornflowerblue;
    transition: all 0.2s linear;
    color: white;
}

.texto-introduccion{
font-size: large;
color: rgb(82, 78, 78);}


    /* Main */
main{
    height: 600px;
}

main .linea-de-trabajo img{
    width: 1300px;
    display: flex;
    align-items: center;
}
main .home{
    size: 20px;
}

#banner{
    height: 300px;
    background-image: url(../imagenes/banner\ marco\ deportes\ FB-03.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    font-size: 100%;}

#lista-talles{
    height: 600px;
    padding: 20px;
    width: 100%;
}


#muestras{
    height: 600px;
}

    /* Footer */
    footer{
        background-color: lightblue;
        padding: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;}



.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 900px;
    padding: 20px;
    justify-content: center;
}

.flex-item {

    background-color: pink;
    width: 42%;
    height: 100px;
    margin: 20px;

}

.flex-item__imagen {
    width: 100%    ;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  #footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 2.5rem;
    background-color: cornflowerblue(115, 115, 175); 
    padding: 0px;           
  }

  #Talles {
    padding: 20px;
    margin: 20px;
    display: block;
    background-color: rgba(105, 102, 102, 0.671);
    overflow: hidden;
    position: static;
    gap: 20px;
    color: white;
  }

  #pedidos {
    padding: 20px;
    margin: 20px;
    display: block;
    overflow: hidden;
    position: static;
    gap: 20px;
    color: white;
  }
  
    /* Media querry - celular */

  @media (max-width:576px) {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
        padding: 0px;
        justify-content: center;
    }
    
    .flex-item {
    
        background-color: pink;
        width: 100%;
        height: 160px;
        margin: 50px;
    
    }
    
    .flex-item__imagen {
        width: 100%    ;
    }

  }