body{
    background: rgb(243,243,244);
    background: linear-gradient(0deg, rgba(243,243,244,1) 0%, rgba(0,164,255,1) 100%);}

    /* Header */
header{
    background-color: lightblue;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .header-logo img{
    width: 50px;
    display: flex;
    align-items: start;
}



.header-nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;


}

.header-nav li{
    padding: 0px 20px; 
}

    /* Button */
button{
    border-radius: 1px;
    background-color: lightblue;
    padding: 20px 60px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s linear;
    margin: -20px;
    border-color: rgba(76, 132, 216, 0.815);
}

button:hover{
    transform: translateY(-1px);
    background-color: cornflowerblue;
    transition: all 0.2s linear;
    color: white;
}

.texto-introduccion{
font-size: large;
color: rgb(82, 78, 78);}


    /* Main */
main{
    height: 600px;
}

main .linea-de-trabajo img{
    width: 1300px;
    display: flex;
    align-items: center;
}
main .home{
    size: 20px;
}

#banner{
    height: 300px;
    background-image: url(../imagenes/banner\ marco\ deportes\ FB-03.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    font-size: 100%;}

    /* Footer */
    footer{
        background-color: lightblue;
        padding: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;}


.flex-container {
    display: flex;
    background-color: red;
    padding: 20px;
    width: 100%;
}

.flex-item {

    background-color: pink;
    width: 300px;
    height: 300px;
    margin: 20px;
}