body{
    background: rgb(243,243,244);
    background: linear-gradient(0deg, rgba(243,243,244,1) 0%, rgba(0,164,255,1) 100%);}

    /* Header */
header{
    background-color: aquamarine;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .header-logo img{
    width: 50px;
}

header .header-logo{
    display: flex;
    align-items: center;
}

.header-nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}

.header-nav li{
    padding: 0px 20px; 
}